.ab{
    font-size: 45px;
    background-color: yellow;
}
.aa{
    font-size: 50px;
    color: blue;
    background-color: aqua;
}
.s{
    font-size: 52px;
    background-color: brown;
    text-shadow: 15px 16px 20px;
}